@use 'utils';

.title {
font-family: 'Rubik';
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 38px;
color: #292D32;
white-space: nowrap;

  @include utils.media('tablet'){
    font-size: 32px;
  }
};