// COLORS
$color-white: #fff;
$color-black: #000000;
$color-bg: #73767c36;

// FONTS
$primary-font: 'Rubik', sans-serif;
$base-font-size: 10px;

// OFFSET
$mobile-container-padding-x: 16px;
$tablet-container-padding-x: 40px;
